/**
 * Button
 */
.button {
    border: 1px solid var(--default-border-color);
    border-radius: 5px;
    background-color: var(--blue-color);
    outline: none;
    padding: 10px 15px;
    color: #ffffff;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.2s;
}

.button:hover {
    background-color: var(--blue-darken-color);
}

.button--round {
    border-radius: 25px;
}

.button--circle {
    width: 32px;
    height: 32px;
    padding: 0;
    border-radius: 50%;
}

/**
 * Spacing
 */
.spacing {
    flex: 1 1 auto;
}

/**
 * Slider
 */
.slider {
    display: none;
    border-radius: var(--border-radius);
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 100;
}

.slider--visible {
    display: block;
}

.slider__container {
    width: 50%;
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    border-radius: 0 var(--border-radius) var(--border-radius) 0;
    background-color: #ffffff;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
}

/**
 * Separator
 */
.separator {
    width: 100%;
    height: 1px;
    background-color: var(--default-border-color);
}

/**
 * Input
 */
.input {
    height: 35px;
    flex: 1 1 auto;
    border: none;
    background-color: transparent;
    outline: none;
    color: var(--text-color);
    font-size: 0.8rem;
    padding: 0 10px;
}

.input::placeholder {
    color: var(--sub-text-color);
    font-size: 0.75rem;
}

.input--underline {
    border-bottom: 1px solid var(--gray3-color);
}

/**
 * Labeled Container
 */
.labeled-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: var(--system-bg);
    padding: 8px 0;
}

.labeled-container--underline {
    border-bottom: 1px solid var(--gray3-color);
}

.labeled-container__label {
    font-size: 0.8rem;
    color: var(--text-color);
    margin-right: 10px;
}

/**
 * Title
 */
.title {
    display: flex;
    flex-direction: row;
    justify-content: center;
    border-bottom: 1px solid var(--gray2-color);
    background-color: var(--toolbar-color);
    padding: 18px 0;
    position: relative;
}

.title__text {
    font-size: 1.2rem;
    font-weight: bold;
    text-align: center;
    color: var(--text-color);
}

.title__button {
    font-size: 1rem;
    color: var(--blue-color);
    position: absolute;
    right: 8px;
    top: 50%;
    transform: translateY(-50%);
    transition: color 0.2s;
    cursor: pointer;
}

.title__button:hover {
    color: var(--blue-darken-color);
}

/**
 * Modal
 */
.modal {
    border-radius: var(--border-radius);
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 100;
}

.modal__container {
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    border: 1px solid var(--second-system-bg);
    background-color: var(--system-bg);
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
    padding: 30px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.modal__buttons {
    align-self: flex-end;
    margin-top: 30px;
}

.modal__cancel {
    background-color: var(--gray3-color);
    margin-right: 5px;
}

.modal__cancel:hover {
    background-color: var(--gray3-darken-color);
}
