/**
 * Button
 */
.button {
    border-radius: 5px;
    border: none;
    background-color: var(--main-color);
    outline: none;
    padding: 8px 12px;
    color: var(--white-font);
    font-family: 'Open Sans', 'Nanum Gothic', 'Noto Sans KR', sans-serif;
    font-size: 0.85rem;
    font-weight: bold;
    line-height: 1.4;
    cursor: pointer;
    transition: background-color 0.2s;
}

.button:hover {
    background-color: var(--main-darken-color);
}

.button--round {
    border-radius: 25px;
}

.button--circle {
    width: 32px;
    height: 32px;
    padding: 0;
    border-radius: 50%;
}

.button--flat {
    color: var(--temp-balck-font);
    font-weight: normal;
    background-color: transparent;
}

.button--flat:hover {
    background-color: var(--item-hover);
}

/**
 * Spacing
 */
.spacing {
    flex: 1 1 auto;
}

/**
 * Separator
 */
.separator {
    width: 100%;
    height: 1px;
    background-color: var(--default-border-color);
}

/**
 * Input
 */
.input {
    flex: 1 1 auto;
    border: none;
    background-color: transparent;
    outline: none;
    color: var(--temp-balck-font);
    font-family: 'Open Sans', 'Nanum Gothic', 'Noto Sans KR', sans-serif;
    font-size: 0.85rem;
    line-height: 1.6;
    padding: 5px 10px;
}

.input::placeholder {
    color: var(--gray-font);
    font-size: 0.75rem;
}

.input--underline {
    border-radius: 0;
    border-bottom: 2px solid var(--main-color);
}

/**
 * Modal
 */
.modal {
    border-radius: var(--border-radius);
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 100;
}

.modal__container {
    display: flex;
    flex-direction: column;
    border-radius: var(--border-radius);
    background-color: var(--system-bg);
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
    padding: 30px 20px 20px 20px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.modal__buttons {
    align-self: flex-end;
    margin-top: 20px;
}

.modal__cancel {
    margin-right: 2px;
}
