:root {
    --main-bg-color: 91, 231, 196;
    --sidebar-color: #50c1e9;
    --workspace-color: #f5f7fa;
    --border-radius: 5px;
    --default-border-color: #dadada;
    --text-color: #33363b;
}

* {
    box-sizing: border-box;
}

html {
    font-size: 16px;
    font-family: 'Noto Sans KR', sans-serif;
}

.app {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    flex: 1 1 auto;
    justify-content: center;
    align-items: center;
    background-color: rgba(var(--main-bg-color), 0.1);
}
