.floater {
    width: 70%;
    max-width: 1024px;
    height: 70%;
    display: flex;
    flex-direction: column;
    border-radius: var(--border-radius);
    box-shadow: 0 30px 50px rgba(0, 0, 0, 0.2);
    position: relative;
}

.floater__content {
    display: flex;
    flex-direction: row;
    flex: 1 1 auto;
    overflow: hidden;
}

/**
 * Sidebar
 */
.sidebar {
    width: 30%;
    display: flex;
    flex-direction: column;
    flex: 0 0 auto;
    border-radius: var(--border-radius) 0 0 var(--border-radius);
    background-color: var(--temp-sidebar-color);
    padding: 20px;
}

/**
 * Workspace
 */
.workspace {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    border-radius: 0 var(--border-radius) var(--border-radius) 0;
    background-color: var(--workspace-color);
    padding: 40px;
}

.workspace__home-image {
    width: 25%;
    opacity: 0.85;
    margin: auto;
}

/**
 * Header
 */
.header {
    width: 100%;
    height: 50px;
    display: flex;
    flex-direction: row;
    flex: 0 0 auto;
    align-items: center;
    border-radius: var(--border-radius) var(--border-radius) 0 0;
    background-color: var(--temp-main-color);
    padding: 0 20px;
}

.header__logo {
    width: 32px;
    height: 32px;
    cursor: pointer;
}

.header__title {
    font-size: 1rem;
    font-weight: 800;
    color: var(--temp-white-font);
    line-height: 1.6;
    margin-left: 2px;
}

.header__settings {
    cursor: pointer;
}

/**
 * Appender
 */
.appender {
    margin: 1px;
}

.appender__container {
    background-color: var(--second-system-bg);
}

.appender__title {
    border-bottom: 1px solid var(--gray2-color);
    background-color: var(--toolbar-color);
    font-size: 1.2rem;
    font-weight: bold;
    text-align: center;
    color: var(--text-color);
    padding: 18px 0;
}

.appender__input {
    padding: 8px;
    margin: 30px 20px 0 20px;
    border-top: 1px solid var(--gray3-color);
    border-bottom: 1px solid var(--gray3-color);
}

.appender__add {
    width: 120px;
    align-self: center;
    margin-bottom: 20px;
}

/**
 * Todos
 */
.todos {
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    margin: 20px 0;
    overflow-y: auto;
}

.todos__nothing {
    font-size: 1rem;
    font-style: italic;
    color: var(--temp-gray-font);
    padding: 20px 0;
}

.todos__nothing::before {
    content: "👻";
    font-style: normal;
}

/**
 * Todo Item
 */
.todo-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px 0;
}

.todo-item__check {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 2px solid var(--temp-main-color);
    background-color: rgba(235, 86, 81, 0.05);
    outline: none;
    padding: 0;
    transition: background-color 0.2s;
}

.todo-item--completed .todo-item__check {
    background-color: var(--temp-main-color);
}

.todo-item__label {
    flex: 1 1 auto;
    font-size: 0.8rem;
    margin-left: 10px;
}

.todo-item--completed .todo-item__label {
    color: var(--temp-gray-font);
    text-decoration: line-through;
}

.todo-item__important {
    outline: none;
}

/**
 * Folders
 */
.folders {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    margin: 10px 0;
    overflow-y: auto;
}

/**
 * New Folder
 */
.new-folder {
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: var(--border-radius);
    padding: var(--temp-padding);
    cursor: pointer;
    transition: background-color 0.2s;
}

.new-folder:hover {
    background-color: var(--temp-item-hover);
}

.new-folder__icon {
    width: 24px;
    height: 24px;
}

.new-folder__label {
    color: var(--temp-gray-font);
    font-size: 0.8rem;
    margin-left: var(--temp-padding);
}

.new-folder__input-form {
    min-width: 400px;
    display: flex;
    flex-direction: column;
}

.new-folder__input-form-title {
    color: var(--temp-black-font);
    font-size: 0.8rem;
    font-weight: 800;
    margin: 0 0 20px 10px;
}

/**
 * Folder Item
 */
.folder-item {
    height: 40px;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: var(--border-radius);
    padding: 0 var(--temp-padding) 0 calc(var(--temp-padding) * 1.5);
    cursor: pointer;
    transition: background-color 0.2s;
}

.folder-item:hover {
    background-color: var(--temp-item-hover);
}

.folder-item__content {
    display: flex;
    flex-direction: row;
    flex: 1 1 auto;
    margin-left: var(--temp-padding);
}

.folder-item__name {
    flex: 1 1 auto;
    font-size: 0.75rem;
    color: var(--temp-black-font);
    line-height: 1.2;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.folder-item__count {
    font-size: 0.7rem;
    color: var(--temp-gray-font);
    line-height: 1.2;
    margin: 0 var(--temp-padding);
}

/**
 * Important Folder
 */
.important-folder {
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: var(--border-radius);
    padding: var(--temp-padding);
    cursor: pointer;
    transition: background-color 0.2s;
}

.important-folder:hover {
    background-color: var(--temp-item-hover);
}

.important-folder__label {
    font-size: 0.8rem;
    font-weight: bold;
    margin-left: 8px;
}

/**
 * Folder Icon
 */
.folder-icon {
    width: 0.7rem;
    height: 0.7rem;
    flex: 0 0 auto;
    border-radius: 50%;
}

.folder-icon--0 {
    background-color: var(--temp-rainbow-red);
}

.folder-icon--1 {
    background-color: var(--temp-rainbow-orange);
}

.folder-icon--2 {
    background-color: var(--temp-rainbow-yellow);
}

.folder-icon--3 {
    background-color: var(--temp-rainbow-green);
}

.folder-icon--4 {
    background-color: var(--temp-rainbow-blue);
}

.folder-icon--5 {
    background-color: var(--temp-rainbow-indigo);
}

.folder-icon--6 {
    background-color: var(--temp-rainbow-purple);
}

/**
 * Todo Header
 */
.todo-header {
    display: flex;
    flex-direction: row;
    flex: 0 0 auto;
    align-items: center;
}

.todo-header__folder-name {
    flex: 1 1 auto;
    font-size: 1.2rem;
    font-weight: 800;
    line-height: 1.2;
    color: var(--temp-black-font);
}

.todo-header__sweeper {
    margin-left: 10px;
}

/**
 * New Todo
 */
.new-todo {
    display: inline-flex;
    flex-direction: row;
    flex: 0 0 auto;
    align-items: center;
    border-radius: var(--border-radius);
    padding: var(--temp-padding) 0;
    cursor: pointer;
    transition: font-weight 0.2s;
}

.new-todo__icon {
    width: 20px;
    height: 20px;
}

.new-todo__label {
    color: var(--temp-black-font);
    font-size: 0.7rem;
    margin-left: var(--temp-padding);
}

.new-todo:hover .new-todo__label {
    font-weight: 800;
}

.new-todo__input-form {
    min-width: 500px;
    display: flex;
    flex-direction: column;
}

.new-todo__input-form-title {
    font-size: 0.8rem;
    font-weight: 800;
    margin-left: 5px;
}

.new-todo__input {
    border-radius: 3px;
    border: 1px solid var(--temp-main-color);
    margin-top: 15px;
}

/**
 * Folder Editor
 */
.folder-editor {
    width: 18px;
    height: 18px;
    opacity: 0.6;
    transition: opacity 0.2s;
}

.folder-editor:hover {
    opacity: 1;
}

.folder-editor__form {
    min-width: 400px;
    display: flex;
    flex-direction: column;
}

.folder-editor__title {
    color: var(--temp-black-font);
    font-size: 0.8rem;
    font-weight: 800;
    margin: 0 0 20px 10px;
}

/**
 * Todo Sweeper
 */
.todo-sweeper {
    width: 18px;
    height: 18px;
    opacity: 0.6;
    transition: opacity 0.2s;
}

.todo-sweeper:hover {
    opacity: 1;
}

.todo-sweeper__message {
    font-size: 0.9rem;
    color: var(--temp-black-font);
    padding: var(--temp-padding);
}
